.bandera{
	@include prop-icono;

	&__img {

		
		@include prop-icono-img;

		&--es {
			background-image: url(../storage/imgs/flag-ES.png);
		}

		&--en {
			background-image: url(../storage/imgs/flag-EN.png);
		}
	}

}

.menu-anidado {
	padding: 0 !important;
	color: #212529 !important;
}

.card-img--dark {
	opacity: .4;
	box-shadow: .5rem .7rem .3rem $dark-grey;
}

